<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main">
      <div class="login-form">
        <h2 class="heading-secondary ma-bt-lg">Log into your account</h2>
        <form class="form">
          <div class="form-group">
            <label class="form-label" for="email">Email address</label
            ><input
              class="form-input"
              id="email"
              type="email"
              placeholder="email@cstory.com"
              required="required"
            />
          </div>
          <div class="form-group ma-bt-md">
            <label class="form-label" for="password">Password</label
            ><input
              class="form-input"
              id="password"
              type="password"
              placeholder="••••••••••"
              required="required"
              minlength="8"
            />
          </div>
          <div class="form-group"><button class="btn btn-green">Login</button></div>
        </form>
      </div>
    </main>
  </body>
</html>
