<footer>
  <div class="container">
    <div class="back-to-top">
      <a href="#section"><i class="fas fa-chevron-up"></i></a>
    </div>
    <div class="footer-content">
      <div class="footer-content-about animate-top">
        <h4>About natours</h4>
        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, laborum autem quo
          corrupti quam enim, delectus repellat sit quos qui ullam ex voluptates asperiores numquam
          eius iste quisquam distinctio. Ipsum!
        </p>
      </div>
      <div class="footer-content-devider animate-bottom">
        <div class="social-media">
          <h4>Follow along</h4>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-tripadvisor"></i></a>
            </li>
          </ul>
        </div>
        <div class="newsletter-container">
          <h4>Newsletter</h4>
          <form class="newsletter-form" action="">
            <label><input class="newsletter-input" type="text" placeholder="Email Address" /></label
            ><button class="newsletter-btn" type="submit"><i class="fas fa-envelope"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
