footer
  .container
    .back-to-top
      a(href="#section")
        i.fas.fa-chevron-up
    .footer-content
      .footer-content-about.animate-top
        h4 About natours
        .asterisk
          i.fas.fa-asterisk
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, laborum autem quo
          | corrupti quam enim, delectus repellat sit quos qui ullam ex voluptates asperiores
          | numquam eius iste quisquam distinctio. Ipsum!
      .footer-content-devider.animate-bottom
        .social-media
          h4 Follow along
          ul.social-icons
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-facebook-square
            li
              a(href="#")
                i.fab.fa-pinterest
            li
              a(href="#")
                i.fab.fa-linkedin-in
            li
              a(href="#")
                i.fab.fa-tripadvisor
        .newsletter-container
          h4 Newsletter
          form.newsletter-form(action="")
            label
              input.newsletter-input(type="text", placeholder="Email Address")
            button.newsletter-btn(type="submit")
              i.fas.fa-envelope