<header>
  <div class="container">
    <nav class="nav">
      <div class="menu-toggle"><i class="fas fa-bars"></i><i class="fas fa-times"></i></div>
      <a class="nav-brand" href="index.html"><img src="./img/logo-white.png" alt="logo" /></a>
      <ul class="nav-list">
        <li class="nav-item">
          <form class="nav-link">
            <button class="nav-search-btn">
              <svg><use href="./img/icons.svg#icon-search"></use></svg></button
            ><label
              ><input class="nav-search-input" type="text" placeholder="Search tours"
            /></label>
          </form>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">login</a></li>
        <li class="nav-item"><a class="nav-link" href="#">signup</a></li>
      </ul>
    </nav>
  </div>
</header>
