header
  .container
    nav.nav
      .menu-toggle
        i.fas.fa-bars
        i.fas.fa-times
      a.nav-brand(href="/")
        img(src="/img/logo-white.png", alt="logo")
      ul.nav-list
        li.nav-item
          form.nav-link
            button.nav-search-btn
              svg
                use(href="/img/icons.svg#icon-search")
            label
              input.nav-search-input(type="text", placeholder="Search tours")
        if user
          li.nav-item
            a.nav-link.nav-logout Log out
          li.nav-item
            a.nav-link(href='/me')
              img.nav-user-img(src=`/img/users/${user.photo}` alt=`${user.name} photo`)
              span= user.name.split(' ')[0]
        else
          li.nav-item
            a.nav-link(href="/login") login
          li.nav-item
            a.nav-link(href="#") signup