doctype html
html
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
      script(src=`https://kit.fontawesome.com/7c7644cef1.js`, crossorigin="anonymous")
      script(src=`https://unpkg.com/scrollreveal`)
      link(rel="stylesheet", href="/css/style.css")
      link(rel="shortcut icon", type="image/png", href="/img/favicon.png")
      title Natours | #{title}

  body
    include _header

    block contents
      p This is some text...

    include _footer
    script(type="module" src="/js/mapbox.js")
    script(type="module" src="/js/login.js")
    //script(src="/js/bundle.js")
