extends base

block contents
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form
        .form-group
          label.form-label(for='email') Email address
          input#email.form-input(type='email' placeholder='email@cstory.com' required='required')
        .form-group.ma-bt-md
          label.form-label(for='password') Password
          input#password.form-input(type='password' placeholder='••••••••' required='required' minlength='5')
        .form-group
          button.btn.btn-green Login